---
import Layout from "../layouts/Layout.astro";
import GraphicSpecies from "../components/GraphicSpecies.astro";
---

<Layout>
  <!-- Menu select pour naviguer vers les ancres -->
  <select id="species" class="select select-bordered w-full max-w-xs">
    <option disabled selected>Choisir une espèce</option>
    <option value="adelie">Adelie</option>
    <option value="chinstrap">Chinstrap</option>
    <option value="gentoo">Gentoo</option>
  </select>

  <div class="carousel w-full">
    <div id="adelie" class="carousel-item w-full">
      <GraphicSpecies species="Adelie" />
    </div>
    <div id="chinstrap" class="carousel-item w-full">
      <GraphicSpecies species="Chinstrap" />
    </div>
    <div id="gentoo" class="carousel-item w-full">
      <GraphicSpecies species="Gentoo" />
    </div>
  </div>
</Layout>

<style>
  .carousel {
    scroll-behavior: smooth;
  }
</style>

<script>
  document.querySelector("#species")?.addEventListener("change", (evt) => {
    const value = (evt.target as HTMLSelectElement).value;
    // Utiliser location.hash pour naviguer vers les ancres
    location.hash = "#" + value;
  });
</script>
