<ul class="menu menu-horizontal bg-base-200">
  <li>
    <a href="/">Toutes les espèces</a>
      <li><a href="/species/Adelie">Adelie</a></li>
      <li><a href="/species/Chinstrap">Chinstrap</a></li>
      <li><a href="/species/Gentoo">Gentoo</a></li>
  </li>
</ul>
