---
import Layout from "../../layouts/Layout.astro";
import penguins from "../../assets/penguins.json";
import GraphicSpecies from "../../components/GraphicSpecies.astro";

const penguinsChinstrap = penguins.filter(
  ({ species }) => species === "Chinstrap"
);
---

<Layout>
  <div>
    <GraphicSpecies species="Chinstrap" />
  </div>
</Layout>
