---
import Layout from "../../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import PlotFigure from "../../components/PlotFigure.astro";
import penguins from "../../assets/penguins.json";
import GraphicSpecies from "../../components/GraphicSpecies.astro";

const penguinsGentoo = penguins.filter(({ species }) => species === "Gentoo");
---

<Layout>
  <div>
    <GraphicSpecies species="Gentoo" />
  </div>
</Layout>
